<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>

    <header>
        <h2>Login</h2>
    </header>

    <div>
        <form action="/login" method = "POST">
            <input type="text" name = "username" />
            <input type="text" name = "password" />
            <input type="submit" value="Login" />
        </form>
    </div>

    <header>
        <h2>Register</h2>
    </header>

    <div>
        <form action="/register" method = "POST">
            <input type="text" name = "username" />
            <input type="text" name = "password" />
            <input type="submit" value="Register" />
        </form>
    </div>
        
    
</body>
</html>